* {
    margin: 0;
    padding: 0;
}

video {
    max-width: 100%;
}

.section-wapper {
    display: flex;
}

.vison-pro-wapper {
    display: flex;
}

.ipad-wapper {
    display: flex;
}

.ipad-wapper {
    background-clip: url('../resoureses/images/ipad-pro.mp4');
    background-color: lightblue;
    background-clip: padding-box;
}